In [1]:
import sys
reload(sys)
sys.setdefaultencoding('utf8')

In [2]:
import pandas as pd

In [3]:
df1 = pd.read_excel("C://Users//Tjpat//Downloads//Resume//Tek//SN//New//newstart05012018//AfterResign//AfterSamirian//Latest//Anupam Assignment//VC-Master Data.xlsx", sheetname = 0)

In [8]:
df1.drop(['Unnamed: 3', 'Unnamed: 4'], axis=1, inplace = True)

In [9]:
df1.head()

  Point of Contact        Designation              Firm Name
0         George R            Partner           Raba Capital
1            Jay C    Venture Advisor            ZZ Ventures
2           Ryan I           Investor   Correlation Ventures
3         Pierre M    Venture Analyst                EDF Inc
4           Ajay R   Founding Partner     Happiness Ventures

In [10]:
len(df1)

644

In [11]:
df2 = pd.read_excel("C://Users//Tjpat//Downloads//Resume//Tek//SN//New//newstart05012018//AfterResign//AfterSamirian//Latest//Anupam Assignment//VC-Master Data.xlsx", sheetname = 1)

In [12]:
df2.head()

,Firm Name,Website,Fund Name,Location
0,.406 Ventures,http://www.406ventures.com/,.406 Ventures II,Boston/Cambridge
1,83North,http://www.83north.com/,83North I,"Tel Aviv Metro Area, London"
2,137 Ventures,http://137ventures.com/,137 Ventures II,SF Bay Area/Silicon Valley
3,212 Limited,http://212ltd.com/,212 Limited I,Istanbul
4,500 Startups,http://500.co/,"500 Startups III, 500 Startups II, 500 Startups I","SF Bay Area/Silicon Valley, ""New York, NY"", Me..."

In [13]:
headers_list = list(df2.columns)
new_header_list = []
for x in range(len(headers_list)):
    new_header_list.append(headers_list[x].strip())

In [14]:
df2.columns = new_header_list

In [15]:
df2.columns

Index([u'Firm Name', u'Website', u'Fund Name', u'Location'], dtype='object')

In [16]:
df2.head()

,Firm Name,Website,Fund Name,Location
0,.406 Ventures,http://www.406ventures.com/,.406 Ventures II,Boston/Cambridge
1,83North,http://www.83north.com/,83North I,"Tel Aviv Metro Area, London"
2,137 Ventures,http://137ventures.com/,137 Ventures II,SF Bay Area/Silicon Valley
3,212 Limited,http://212ltd.com/,212 Limited I,Istanbul
4,500 Startups,http://500.co/,"500 Startups III, 500 Startups II, 500 Startups I","SF Bay Area/Silicon Valley, ""New York, NY"", Me..."

In [17]:
df3 = pd.read_excel("C://Users//Tjpat//Downloads//Resume//Tek//SN//New//newstart05012018//AfterResign//AfterSamirian//Latest//Anupam Assignment//VC-Master Data.xlsx", sheetname = 2)

In [18]:
df3.head()

,Fund Name,Amount Raised $M USD,Date announced and or Raised,Year Raised,Fund Number,Location,Notes
0,Aspect Ventures,181,2018-01-23 00:00:00,2018,II,Bay Area,NaN
1,Cowboy Ventures,95,2018-08-07 00:00:00,2018,III,Bay Area,NaN
2,New Voices Fund,100,2018-07-06 00:00:00,2018,I,NaN,https://newvoicesfund.com/about/
3,Wave Capital,53,2018-06-26 00:00:00,2018,I,LA,NaN
4,Primary Venure Partners,100,2018-06-12 00:00:00,2018,II,NYC,https://techcrunch.com/2018/06/12/primary-vent...

In [19]:
df1['Firm Name'] = df1['Firm Name'].str.strip()

In [20]:
df1['Point of Contact'] = df1['Point of Contact'].str.strip()

In [21]:
df1['Designation'] = df1['Designation'].str.strip()

In [22]:
df2['Firm Name'] = df2['Firm Name'].str.strip()

In [23]:
df2['Website'] = df2['Website'].str.strip()

In [24]:
df2['Fund Name'] = df2['Fund Name'].str.strip()

In [25]:
df2['Location'] = df2['Location'].str.strip()

In [26]:
df3['Firm Name'] = df3['Fund Name'].str.strip()

In [27]:
df3['Location'] = df3['Location'].str.strip()

In [31]:
pd.merge(df1, df2, on='Firm Name', how='inner')

,Point of Contact,Designation,Firm Name,Website,Fund Name,Location
0,Ryan I,Investor,Correlation Ventures,http://correlationvc.com/,Correlation Ventures I,"San Diego, CA"
1,Jeffrey T,Investor,Altos Ventures,http://www.altos.vc/,"Altos Ventures I, Altos Ventures II","SF Bay Area/Silicon Valley, Seoul"
2,Ashish K,Sr. Associate,Engineering Capital,http://www.engineeringcapital.com/,Engineering Capital I,SF Bay Area/Silicon Valley
3,Garrett G,Partner,Bee Partners,http://beepartners.vc/,"Bee Partners II, Bee Partners I",SF Bay Area/Silicon Valley
4,Marc W,Partner,WI Harper Group,http://www.wiharper.com/,WI Harper Group VIII,"SF Bay Area/Silicon Valley, Beijing, Taipei"
5,Beth T,Partner,SV Angel,http://svangel.com/,SV Angel IV,SF Bay Area/Silicon Valley
6,Leo P,General Partner,Susa Ventures,http://www.susaventures.com/,"Susa Ventures II, Susa Ventures I","SF Bay Area/Silicon Valley, Los Angeles, ""New ..."
7,Joey K,Sr. Associate,Romulus Capital,http://romuluscap.com/,"Romulus Capital III, Romulus Capital I",Boston/Cambridge
8,Ira S,Principal,Industry Ventures,http://www.industryventures.com/,Industry Ventures,SF Bay Area/Silicon Valley
9,Courtney B,Investor,First Round Capital,http://www.firstround.com/,"First Round Capital VI, First Round Capital V,...","New York, NY, SF Bay Area/Silicon Valley, Phil..."
10,Courtney B,Investor,First Round Capital,http://www.firstround.com/,"First Round Capital VI, First Round Capital V,...","New York, NY, SF Bay Area/Silicon Valley, Phil..."
11,Sabya D,Partner,Moneta Ventures,http://www.monetaventures.com/,"Moneta Ventures II, Moneta Ventures I","Sacramento, CA"
12,Minn K,Investor,Bloomberg Beta,http://www.bloombergbeta.com/,Bloomberg Beta I,"SF Bay Area/Silicon Valley, ""New York, NY"""
13,Ivy N,Investor,Zetta Venture Partners,http://www.zettavp.com/,"Zetta Venture Partners II, Zetta Venture Partn...",SF Bay Area/Silicon Valley
14,Eric W,General Partner,Initialized Capital,http://www.initialized.co/,"Initialized Capital II, Initialized Capital I",SF Bay Area/Silicon Valley
15,Vincent C,Partner,Initialized Capital,http://www.initialized.co/,"Initialized Capital II, Initialized Capital I",SF Bay Area/Silicon Valley
16,Jerry C,Investor,Mucker Capital,http://www.muckercapital.com/,Mucker Capital III,Los Angeles
17,Paul W,Partner,Storm Ventures,http://stormventures.com/,Storm Ventures V,SF Bay Area/Silicon Valley
18,Frederik G,Associate,Storm Ventures,http://stormventures.com/,Storm Ventures V,SF Bay Area/Silicon Valley
19,Pascale D,Principal,Storm Ventures,http://stormventures.com/,Storm Ventures V,SF Bay Area/Silicon Valley
20,Mike J,Partner,Westly Group,http://www.westlygroup.com/,Westly Group II,SF Bay Area/Silicon Valley
21,Vignesh R,Investor,Sierra Ventures,http://www.sierraventures.com/,"Sierra Ventures XI, Sierra Ventures X",SF Bay Area/Silicon Valley
22,Navin N,EIR,Sierra Ventures,http://www.sierraventures.com/,"Sierra Ventures XI, Sierra Ventures X",SF Bay Area/Silicon Valley
23,Natsuki Z,Associate,Draper Nexus Ventures,http://drapernexus.com/,Draper Nexus Ventures II,"Tokyo, SF Bay Area/Silicon Valley"
24,Asad K,Investor,Aspect Ventures,http://www.aspectventures.com/,Aspect Ventures I,SF Bay Area/Silicon Valley
25,Peter H,Co-Founder/Managing Director,Merus Capital,http://www.meruscap.com/,"Merus Capital II, Merus Capital II",SF Bay Area/Silicon Valley
26,Sean D,Managing Director,Merus Capital,http://www.meruscap.com/,"Merus Capital II, Merus Capital II",SF Bay Area/Silicon Valley
27,Peter H,Co-Founder/Managing Director,Merus Capital,http://www.meruscap.com/,"Merus Capital II, Merus Capital II",SF Bay Area/Silicon Valley
28,Samantha K,Associate Partner,Cowboy Ventures,http://www.cowboy.vc/,"Cowboy Ventures II, Cowboy Ventures I",SF Bay Area/Silicon Valley
29,Edoardo G,Associate,Benhamou Global Ventures,http://benhamouglobalventures.com/,Benhamou Global Ventures III,SF Bay Area/Silicon Valley
30,yashwanth h,Investor,Benhamou Global Ventures,http://benhamouglobalventures.com/,Benhamou Global Ventures III,SF Bay Area/Silicon Valley
31,James K,Associate,Reach Capital,http://reachcap.com/,Reach Capital I,SF Bay Area/Silicon Valley
32,Siri S,Associate,Draper Associates,http://www.draper.vc/,"Draper Associates I, Draper Associates V",SF Bay Area/Silicon Valley
33,Phil B,Principal,Crosslink Capital,http://www.crosslinkcapital.com/,Crosslink Capital VII,SF Bay Area/Silicon Valley
34,Lars L,Managing Director,HWVP,http://www.hwvp.com/,HWVP VII,SF Bay Area/Silicon Valley
35,Robert N,Venture Partner,500 Startups,http://500.co/,"500 Startups III, 500 Startups II, 500 Startups I","SF Bay Area/Silicon Valley, ""New York, NY"", Me..."

In [121]:
new_df.head()

,Point of Contact,Designation,Firm Name,Website,Fund Name,Location
0,George R,Partner,Raba Capital,NaN,NaN,NaN
1,Jay C,Venture Advisor,ZZ Ventures,NaN,NaN,NaN
2,Peter S,Vice President,ZZ Ventures,NaN,NaN,NaN
3,Qidong J,Analyst,ZZ Ventures,NaN,NaN,NaN
4,Ryan I,Investor,Correlation Ventures,http://correlationvc.com/,Correlation Ventures I,"San Diego, CA"

In [210]:
final = pd.merge(new_df, df3, on = 'Firm Name', how = 'outer')

In [211]:
final.head()

,Point of Contact,Designation,Firm Name,Website,Fund Name_x,Location_x,Fund Name_y,Amount Raised $M USD,Date announced and or Raised,Year Raised,Fund Number,Location_y,Notes
0,George R,Partner,Raba Capital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Jay C,Venture Advisor,ZZ Ventures,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Peter S,Vice President,ZZ Ventures,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Qidong J,Analyst,ZZ Ventures,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ryan I,Investor,Correlation Ventures,http://correlationvc.com/,Correlation Ventures I,"San Diego, CA",Correlation Ventures,165,1/2012,2012.0,I,"San Diego, CA",NaN

In [212]:
final[final['Firm Name'] == 'First Round Capital']

,Point of Contact,Designation,Firm Name,Website,Fund Name_x,Location_x,Fund Name_y,Amount Raised $M USD,Date announced and or Raised,Year Raised,Fund Number,Location_y,Notes
245,Courtney B,Investor,First Round Capital,http://www.firstround.com/,"First Round Capital VI, First Round Capital V,...","New York, NY, SF Bay Area/Silicon Valley, Phil...",First Round Capital,175,2016-09-08 00:00:00,2016.0,VI,"Bay Area, NYC, Philly",http://fortune.com/2016/09/08/first-round-capi...
246,Courtney B,Investor,First Round Capital,http://www.firstround.com/,"First Round Capital VI, First Round Capital V,...","New York, NY, SF Bay Area/Silicon Valley, Phil...",First Round Capital,175,6/2014,2014.0,V,"Bay Area, NYC, Philly",http://blogs.wsj.com/venturecapital/2014/06/26...
247,Courtney B,Investor,First Round Capital,http://www.firstround.com/,"First Round Capital VI, First Round Capital V,...","New York, NY, SF Bay Area/Silicon Valley, Phil...",First Round Capital,135,5/2012,2012.0,IV,"Bay Area, NYC, Philly",NaN
248,Courtney B,Investor,First Round Capital,http://www.firstround.com/,"First Round Capital VI, First Round Capital V,...","New York, NY, SF Bay Area/Silicon Valley, Phil...",First Round Capital,175,2016-09-08 00:00:00,2016.0,VI,"Bay Area, NYC, Philly",http://fortune.com/2016/09/08/first-round-capi...
249,Courtney B,Investor,First Round Capital,http://www.firstround.com/,"First Round Capital VI, First Round Capital V,...","New York, NY, SF Bay Area/Silicon Valley, Phil...",First Round Capital,175,6/2014,2014.0,V,"Bay Area, NYC, Philly",http://blogs.wsj.com/venturecapital/2014/06/26...
250,Courtney B,Investor,First Round Capital,http://www.firstround.com/,"First Round Capital VI, First Round Capital V,...","New York, NY, SF Bay Area/Silicon Valley, Phil...",First Round Capital,135,5/2012,2012.0,IV,"Bay Area, NYC, Philly",NaN

In [208]:
writer = pd.ExcelWriter('MergedData.xlsx')
final_df.to_excel(writer,'Sheet1')
writer.save()

In [190]:
pd.concat(pd.Series([row['Point of Contact'],row['Website'], row['Location_y'].split(',')))              
                    for _, row in final_df.iterrows()]).reset_index()

SyntaxError: invalid syntax (<ipython-input-190-986fca488d52>, line 1)

In [200]:
pd.concat([(pd.Series(row['Firm Name'], row['Location_y'].split(',')))              
                    for _, row in final_df.iterrows()]).reset_index()

             index                                  0
0              nan                       Raba Capital
1              nan                        ZZ Ventures
2              nan                        ZZ Ventures
3              nan                        ZZ Ventures
4        San Diego               Correlation Ventures
5               CA               Correlation Ventures
6              nan                            EDF Inc
7              nan                 Happiness Ventures
8              nan                 Happiness Ventures
9              nan                       SAIC Capital
10             nan                     NewDo Ventures
11             nan                        Arkose Labs
12             nan                            EDF inc
13             nan                      YIXIU Capital
14             nan                            Phoneic
15             nan                                AV8
16             nan                           FirstCut
17             nan                           FirstCut
18             nan                           FirstCut
19             nan                           FirstCut
20             nan                           FirstCut
21             nan                           FirstCut
22             nan                           FirstCut
23             nan              Fenox Venture Capital
24             nan         Advancing Women in Product
25             nan         Advancing Women in Product
26             nan                Green Visor Capital
27        Bay Area                     Altos Ventures
28           Korea                     Altos Ventures
29             nan                             Google
...            ...                                ...
1251           NYC                 Two Sigma Ventures
1252      Bay Area                     Founder Circle
1253         China    Shenzhen Co-Win Venture Capital
1254        Israel                              Magma
1255   Netherlands               Aglaia Oncology Fund
1256      Bay Area                             Binary
1257      Bay Area                             Sherpa
1258        London                          Santander
1259      Bay Area                         SoftTechVC
1260      Bay Area                         SoftTechVC
1261           NYC                   Greycroft Growth
1262           NYC             Alpha Ventures Partnes
1263      Bay Area                                IDG
1264        Israel          Stage One Venture Capital
1265           NYC  Union Square Ventures Opportunity
1266      Bay Area                            Haywire
1267      Bay Area              Wing Venture Partners
1268       Germany                 Earlybird Ventures
1269   Los Angeles                      Velos Capital
1270     Las Vegas                    Vegas Tech Fund
1271        Nevada                    Vegas Tech Fund
1272       Seattle                       Nya Ventures
1273   USA / India                       Nya Ventures
1274      Bay Area                               OATV
1275          Utah                               OATV
1276           NYC                     Lerer Ventures
1277       Seattle                     Founders Co-Op
1278           USA                     Founders Co-Op
1279      Istanbul                       212 Ventures
1280        Turkey                       212 Ventures

[1281 rows x 2 columns]

In [158]:
final_df['Location_y']=final_df['Location_y'].apply(str)

In [159]:
type(final_df['Location_y'][0])

str

In [177]:
final_df['Point of Contact'] = final_df['Point of Contact'].apply(str)

In [179]:
final_df = final_df.applymap(str)

In [188]:
#pd.DataFrame(list(
zip(*final_df['Location_y'].str.split(","))#)).stack()

[('nan',
  'nan',
  'nan',
  'nan',
  'San Diego',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'Bay Area',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'Bay Area',
  'Bay Area',
  'nan',
  'nan',
  'nan',
  'nan',
  'Bay Area',
  'Tokyo',
  'Bay Area',
  'Tokyo',
  'nan',
  'nan',
  'nan',
  'Bay Area',
  'Bay Area',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'Bay Area',
  'Bay Area',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'NYC',
  'NYC',
  'NYC',
  'NYC',
  'NYC',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'Bay Area',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'Bay Area',
  'Bay Area',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'Bay Area',
  'Bay Area',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'Bay Area',
  'Los Angeles',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'Bay Area',
  'nan',
  'nan',
  'Boston',
  'Boston',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'Bay Area',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'Washington DC',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'Bay Area',
  'Bay Area',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'Sacramento',
  'Sacramento',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'Bay Area and NYC',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'Bay Area',
  'Bay Area',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'Bay Area',
  'Bay Area',
  'nan',
  'nan',
  'nan',
  'nan',
  'Bay Area',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'Los Angeles',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'Bay Area',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'Bay Area',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'Bay Area',
  'Bay Area',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'Los Angeles',
  'nan',
  'nan',
  'nan',
  'nan',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'nan',
  'nan',
  'Bay Area',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'Bay Area',
  'Bay Area',
  'nan',
  'nan',
  'nan',
  'Bay Area',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'Durham',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'Bay Area',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'NYC',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'Bay Area',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'Bay Area',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'Bay Area',
  'Bay Area HQ',
  'Bay Area',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'Boston',
  'Israel',
  'Bay Area',
  'nan',
  'Bay Area',
  'Germany',
  'nan',
  'Bay Area',
  'Bay Area',
  'Israel',
  'Israel',
  'Bay Area',
  'nan',
  'Bay Area',
  'China',
  'Bay Area',
  'Cambridge',
  'Los Angeles',
  'nan',
  'US (Minneapolis and North Dakota)',
  'Germany',
  'Madrin',
  'Bay Area',
  'Australia',
  'Berlin',
  'NYC',
  'NYC',
  'NYC',
  'NYC',
  'NYC',
  'NYC',
  'NYC',
  'NYC',
  'NYC',
  'LA',
  'Durham',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'Israel',
  'Boston',
  'Boston',
  'Bay Area',
  'Chicago',
  'Canada',
  'Bay Area',
  'NYC',
  'NYC',
  'NYC',
  'Bay Area',
  'Boston',
  'NYC',
  'London',
  'NYC',
  'Los Angeles',
  'NYC',
  'Bay Area',
  'NYC',
  'Dallas',
  'Los Angeles',
  'Bay Area',
  'Washington D.C.',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'London and Bay Area',
  'Omaha',
  'Omaha',
  'nan',
  'London',
  'NYC',
  'Bay Area',
  'NYC',
  'NYC',
  'NYC',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'NYC',
  'NYC',
  'NYC',
  'Bay Area',
  'Bay Area',
  'Netherlands',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'nan',
  'Bay Area',
  'Cambridge',
  'nan',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'London',
  'Ireland',
  'Bay Area',
  'nan',
  'Maryland',
  'NYC',
  'Israel',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'London',
  'Chicago',
  'NYC',
  'Bay Area',
  'Seattle',
  'Bay Area',
  'Bay Area',
  'Utah',
  'Montreal',
  'Bay Area',
  'India',
  'Chile',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'NYC',
  'nan',
  'NYC',
  'Madrid',
  'Utah',
  'Bay Area',
  'Bay Area',
  'NYC',
  'NYC',
  'Bay Area',
  'NYC',
  'Israel',
  'Tel Aviv',
  'Bay Area',
  'Austin',
  'Bay Area',
  'Los Angeles',
  'Michigan',
  'Detroit',
  'Detroit',
  'nan',
  'Bay Area',
  'Philadelphia',
  'Salt Lake City',
  'NYC',
  'NYC',
  'Bay Area',
  'Philadelphia',
  'London',
  'Los Angeles',
  'Boston',
  'Boston',
  'Virginia',
  'NYC',
  'Hong Kong',
  'nan',
  'nan',
  'Bay Area',
  'Los Angeles',
  'nan',
  'Boston',
  'DC',
  'UK',
  'London',
  'Utah',
  'Utah',
  'Bay Area',
  'Bay Area',
  'Salt Lake City',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'Berlin',
  'Boulder',
  'Bay Area',
  'NYC',
  'Boston',
  'NYC',
  'Montreal/Toronto',
  'Montreal',
  'NYC',
  'Bay Area',
  'Bay Area',
  'Bay Area and Toronto',
  'Bay Area',
  'Boston',
  'Boston',
  'Washington D.C.',
  'Bay Area',
  'Palo Alto',
  'Bay Area',
  'Philadelphia',
  'Omaha',
  'Chicago',
  'Bay Area',
  'nan',
  'NYC',
  'London',
  'nan',
  'Bay Area',
  'Bay Area',
  'Minnesota',
  'Bay Area',
  'Israel',
  'Israe',
  'Bay Area',
  'Bay Area',
  'nan',
  'Boulder',
  'Los Angeles',
  'NYC',
  'Tel Aviv',
  'NYC',
  'NYC',
  'Florida',
  'Bay Area',
  'Boston',
  'Boston',
  'NYC',
  'NYC',
  'NYC',
  'NYC',
  'Bay Area',
  'LA',
  'Bay Area',
  'Bay Area',
  'NYC',
  'nan',
  'nan',
  'Vancover',
  'Vancover',
  'London',
  'NYC',
  'Boston',
  'nan',
  'NYC',
  'Boston',
  'Bay Area',
  'Israel',
  'nan',
  'LA',
  'NYC',
  'UK',
  'South Korea',
  'Midwest',
  'NYC',
  'Los Angeles',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'Toronto',
  'Bay Area',
  'NYC',
  'Bay Area',
  'Israel',
  'NYC',
  'Bay Area',
  'Bay Area',
  'Hong Kong',
  'Bay Area',
  'Kansas City',
  'Seattle',
  'Bay Area',
  'NYC',
  'Bay Area',
  'Bay Area',
  'Los Angeles',
  'Boston',
  'Israel',
  'Greece',
  'Paris',
  'NYC',
  'Ireland',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'Austin',
  'Bay Area',
  'NYC',
  'Los Angeles',
  'NYC',
  'Los Angeles',
  'Boston',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'Berlin',
  'Norway',
  'Bay Area',
  'Finland',
  'San Diego',
  'Israel',
  'UK',
  'Bay Area',
  'Tel Aviv',
  'Los Angeles',
  'Phiiladelphia',
  'Chicago',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'Maryland',
  'NYC',
  'Netherlands',
  'Luxembourg',
  'Dallas',
  'Israel',
  'Bay Area',
  'Boston',
  'Bay Area',
  'Bay Area',
  'Bay Area',
  'Boston',
  'Singapore',
  ...)]